@model RentalAppMVC.DTOs.StudioDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Studio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasElevator" /> @Html.DisplayNameFor(model => model.HasElevator)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Pets" class="control-label"></label>
                <input asp-for="Pets" class="form-control" />
                <span asp-validation-for="Pets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Furnitured" class="control-label"></label>
                <input asp-for="Furnitured" class="form-control" />
                <span asp-validation-for="Furnitured" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="AC" class="control-label"></label>
                <input asp-for="AC" class="form-control" />
                <span asp-validation-for="AC" class="text-danger"></span>
            </div><div class="form-group">

                <label asp-for="Balcony" class="control-label"></label>
                <input asp-for="Balcony" class="form-control" />
                <span asp-validation-for="Balcony" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Garage" class="control-label"></label>
                <input asp-for="Garage" class="form-control" />
                <span asp-validation-for="Garage" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Tv" class="control-label"></label>
                <input asp-for="Tv" class="form-control" />
                <span asp-validation-for="Tv" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Wifi" class="control-label"></label>
                <input asp-for="Wifi" class="form-control" />
                <span asp-validation-for="Wifi" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}