@model RentalAppMVC.DTOs.UserDTO

@{
    ViewData["Title"] = "Landlord Contact Information";
}

<h2>Landlord Contact Information</h2>

<div class="card">
    <div class="card-body">
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone:</strong> @Model.ContactInformation</p>
     

        <form asp-action="Rent"
              asp-route-id="@Model.Id"
              method="post">
            <button type="submit" class="btn btn-success">Rent This Property</button>
        </form>
    </div>
</div>